# === LLM ===
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3:8b-instruct-q4_K_M

# === STT ===
STT_HOST=http://kinect-svc:8000
STT_MODEL=Systran/faster-whisper-base

# === TTS ===
#TTS_HOST=http://tts:8188

# === Redis ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# === Stability ===
STABILITY_API_KEY=your_stability_key_here

# === Database  ===
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=rememo

# === Qdrant ===
QDRANT_URL=http://qdrant:6333
QDRANT_PATH=./qdrant_db
QDRANT_COLLECTION=elderly_memories
EMBEDDING_MODEL=bge-m3

# === pgAdmin ===
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here

# === Anthropic ===
ANTHROPIC_API_KEY=sk-ant-...
