# === LLM ===
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3:8b-instruct-q4_K_M

# === STT ===
STT_HOST=http://kinect-svc:8000
STT_MODEL=Systran/faster-whisper-base

# === TTS ===
TTS_HOST=http://tts:8188

# === Redis ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# === Stability ===
STABILITY_API_KEY=your_stability_key_here

# === Database  ===
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=rememo

# === Anthropic ===
ANTHROPIC_API_KEY=sk-ant-...
