# Python 垃圾檔案
**/__pycache__/
*.py[cod]
get-pip.py

# 資料庫與持久化數據 (排除實體資料)
postgres_data/
ollama_data/
postgres_db/
pgadmin/

# 媒體與大型壓縮檔 (剛才的大魔王)
*.wav
*.mp4
*.zip
*.rar
*.7z
**/Rag/data/
**/Rag/venv/
**/data.zip
*.npy
*.data-00000-of-00001



# AI 模型與權重檔 (絕對不要上傳)
models/
*.pth
*.bin
*.onnx
*.pt

# 環境與工具
.env
**/venv/
.venv/
.git/

# Unity (Rememo 專案)
**/Library/
**/Temp/
**/Logs/
**/Build/
**/Builds/
**/UserSettings/
**/obj/
**/.DS_Store
**/__MACOSX/
**/ProjectSettings/EditorBuildSettings.asset
**/ProjectSettings/ShaderGraphSettings.asset